__pycache__/

prompt_engine/outputs/*
prompt_engine/databases/qdrant
prompt_engine/databases/qdrant/*
prompt_engine/databases/chromadb
prompt_engine/databases/chromadb/*


# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.log
**/log.md
**/warnings.log
*.pyc
#*.json
*.json.gz
env/
src/*.egg-info/*
*.log
*.jsonl
*.sif

notebooks/*


.ipynb_checkpoints/*
.dist/*